body {    
    background-color: rgb(254,250,239) !important; /* !important -> damit nicht background-color von bootstrap verwendet wird, sondern die hier */
}

a {
    text-decoration: none !important;
    color: rgb(157,147,101) !important;
}

a:hover {
    cursor: pointer;
    color: rgba(157,147,101,0.7) !important;
}

#navLeft {
    display: flex;
    gap: 10px;
}

#quizLogo {
    height: 30px;
    filter: invert(80%);
}

.h1 {
    color: rgb(157,147,101) !important;
}

.impressumLink {
    font-weight: normal !important;
    font-size: 18px !important;
    color: rgb(197,197,198) !important;
}

.impressumLink:hover {
    cursor: pointer;
}

#impressumContainer {
    position: relative;
}

#closeImpressumBtn {
    transform: scaleX(-1);
    height: 30px;
    position: absolute;
    right: 10px;
    top: 15px;
}

#closeImpressumBtn:hover {
    cursor: pointer;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quizContainer {
    position: relative;
}

#restartBtn {
    height: 30px;
    position: absolute;
    right: 15px;
}

#restartBtn:hover {
    cursor: pointer;
}

#questionText {
    width: 400px;
    padding: 8px 0 8px;
}

.questionFooter {
    /* border-top: 1px solid rgba(0,0,0,0.4); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;    
}

.quizCard {
    width: 30rem;
}

.answers {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.answers:hover {
    cursor: pointer;
    background-color: rgba(157,147,101,0.5);
    border-radius: 5px;
}

.bg-red {
    background-color: rgb(241, 85, 85);
}

.bg-green {
    background-color: rgb(181, 203, 73);
}

.bg-red, .bg-green {
    border-radius: 5px;
    color: white !important;
}

.bg-red:hover {
    background-color: rgb(241, 85, 85);
    cursor: auto;
}

.bg-green:hover {
    background-color: rgb(181, 203, 73);
    cursor: auto;
}

#impressumTitle {
    padding: 10px 0 20px;
}

/* Dialog */

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-message {
    background-color: rgb(157,147,101);
    color: rgb(254,250,239);
    border-radius: 5px;
    padding: 25px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.hide  {
    display: none !important;
}

#dialogEndFlags {
    height: 100px;
}